name: Hello World
on:
  workflow_dispatch:
  pull_request:
    branches:
      - uat
jobs:
  hello-job:
    runs-on: ubuntu-latest
    steps:
      - name: Echo text
        run: echo "Hello, world!"
